<% provide(:title, 'Contact Us') %>


    <!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row centered">
                <h3>Contact Us</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->


     
    <!-- *****************************************************************************************************************
     CONTACT FORMS
     ***************************************************************************************************************** -->

     <div class="container mtb">
        <div class="row centered">


                <h4>Our Address</h4>
                <div class="hline"></div>
                    <p>
                        Dhanwar, Jharkhand<br/>
                        India<br/>
                    </p>
                    <p> <%=image_tag("sosjunglekids_email.jpg",size:"50x60", alt: "SOS Jungle Kids, India")%>: &nbsp; info@junglekids.be
                        <%=image_tag("sosjunglekids_phone.jpg",size:"50x60", alt: "SOS Jungle Kids, India")%>: &nbsp; +91 896 608 7737
                    </p>
           
        </div><! --/row -->
     </div><! --/container -->
