<% provide(:title, 'Contact Us') %>


    <!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row centered">
                <h3>Contact Us</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->


    <div class="row">

             <!-- Map Column -->
            
                <!-- Embedded Google Map -->
                <p><iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.be/maps/ms?hl=nl&amp;ie=UTF8&amp;msa=0&amp;msid=113219769680288307540.0004918effd0f3cac4723&amp;ll=19.47695,79.804688&amp;spn=26.70829,37.441406&amp;z=4&amp;output=embed"></iframe><br /><small><a href="http://maps.google.be/maps/ms?hl=nl&amp;ie=UTF8&amp;msa=0&amp;msid=113219769680288307540.0004918effd0f3cac4723&amp;ll=19.47695,79.804688&amp;spn=26.70829,37.441406&amp;z=4&amp;source=embed" style="color:#0000FF;text-align:left"> </a> SOS Jungle Kids India &#8211; Dhanwar</small></p>
               

    </div>
     
    <!-- *****************************************************************************************************************
     CONTACT FORMS
     ***************************************************************************************************************** -->

     <div class="container mtb">
        <div class="row centered">


                <h4>Our Address</h4>
                <div class="hline"></div>
                    <p>
                        Dhanwar, Jharkhand<br/>
                        India<br/>
                    </p>
                    <p> <%=image_tag("sosjunglekids_email.jpg",size:"50x60", alt: "SOS Jungle Kids, India")%>: &nbsp; info@junglekids.be
                        <%=image_tag("sosjunglekids_phone.jpg",size:"50x60", alt: "SOS Jungle Kids, India")%>: &nbsp; +91 896 608 7737
                    </p>
           
        </div><! --/row -->
     </div><! --/container -->
