<% provide(:title, 'Contact Us') %>
<br><br><br><br><br><br>
<h1>Contact Us</h1>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <p><iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.be/maps/ms?hl=nl&amp;ie=UTF8&amp;msa=0&amp;msid=113219769680288307540.0004918effd0f3cac4723&amp;ll=19.47695,79.804688&amp;spn=26.70829,37.441406&amp;z=4&amp;output=embed"></iframe><br /><small><a href="http://maps.google.be/maps/ms?hl=nl&amp;ie=UTF8&amp;msa=0&amp;msid=113219769680288307540.0004918effd0f3cac4723&amp;ll=19.47695,79.804688&amp;spn=26.70829,37.441406&amp;z=4&amp;source=embed" style="color:#0000FF;text-align:left">SOS Jungle Kids India &#8211; Dhanwar </a> weergeven op een grotere kaart</small></p>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <p> Dhanwar<br>Jharkhand, India<br> </p>
                <br><br>
                <p> Ambikapur<br>Chattisgarh, India<br>497001 </p>

                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>: 91</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:admin@sosjunglekids.com">admin@sosjunglekids.com</a>
                </p>
                
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x">Facebook</i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x">Twitter</i></a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-md-8">
                <h3>Send us a Message</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Full Name:</label>
                            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>

        </div>
        <!-- /.row -->