<div class="center hero-unit">
  <h1>Welcome to SOS Jungle Kids Dhanwar, India website!</h1>

  <h2>
    This is the home page for the SOS Jungle Kids
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
