
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.nav-links {
  background-color: #98FF98 !important;
  color: #000 !important;
  font-size: 1.2em;
  letter-spacing: 1px;
  
  a:link, a:visited {
    background-color: #98FF98  !important;
    text-decoration: none !important;
    color: #333 !important;
  }
  a:hover {
    background-color: #eee  !important;
    text-decoration: none !important;
    color: #333 !important;
  }

}

.btn-red, .btn-red:hover {
  background-color: hsl(348, 21%, 55%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4bec2", endColorstr="#a4747d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d4bec2), to(#a4747d));
  background-image: -moz-linear-gradient(top, #d4bec2, #a4747d);
  background-image: -ms-linear-gradient(top, #d4bec2, #a4747d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4bec2), color-stop(100%, #a4747d));
  background-image: -webkit-linear-gradient(top, #d4bec2, #a4747d);
  background-image: -o-linear-gradient(top, #d4bec2, #a4747d);
  background-image: linear-gradient(#d4bec2, #a4747d);
  border-color: #a4747d #a4747d hsl(348, 21%, 49%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
  -webkit-font-smoothing: antialiased;
}


.btn-primary, .btn-primary:hover {
  background-color: hsl(181, 55%, 65%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c3eded", endColorstr="#74d5d6");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c3eded), to(#74d5d6));
  background-image: -moz-linear-gradient(top, #c3eded, #74d5d6);
  background-image: -ms-linear-gradient(top, #c3eded, #74d5d6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3eded), color-stop(100%, #74d5d6));
  background-image: -webkit-linear-gradient(top, #c3eded, #74d5d6);
  background-image: -o-linear-gradient(top, #c3eded, #74d5d6);
  background-image: linear-gradient(#c3eded, #74d5d6);
  border-color: #74d5d6 #74d5d6 hsl(181, 55%, 60%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}


a:hover, a:link, a:visited {
  background-color: transparent  !important;
  text-decoration: none !important;
  color: #333 !important;
}


.navbartop-custom {
  background-color: #98FF98 !important;
  line-height: 0.7em;
}


.navbar-custom {
  background-color: #e6e6e6 !important;
}

.navbarbottom-custom {
  background-color: #999 !important;
  line-height: 0.7em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #eee;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
