<% provide(:title, "Newspost Title") %>
<br><br><br><br>

<h3>Newspost Title</h3>

<div class="row">
	<%= newspost.content %>
</div>	
<div class="row">
  <% if newspost.newspost_attachments.count > 0 %> 
    <!-- <%= newspost.newspost_attachments.count %> -->
    <% newspost.newspost_attachments.each do |p| %>
  
    <%= image_tag p.file_url, :size => "600x300" %>
    <p>
     <%= link_to "Delete Image", p, method: :delete, class: "btn btn-red" %>
    </p>   
  <% end %>

</div>
