<footer class="center footer">

	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container ">
		 	<div class="row centered">

		 		<div class="col-lg-4">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="https://www.facebook.com/sosjunglekids"><%=image_tag("sosjunglekids_facebook.jpg",size:"50x60", alt: "SOS Jungle Kids, India")%></a>
		 				
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Copyrights &copy;</h4>
		 			<div class="hline-w"></div>
		 			<p>Copyright &copy; SOSJungleKids 2015</p>
		 			  <p> Website created and maintained by Sabla Kerketta <br> 'email: smkerketta@gmail.com'
                      </p>	
		 		</div>

		 		<div class="col-lg-4">
		 			<h4>Our Location</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Dhanwar, Jharkhand<br/>
		 				India<br/>
		 			</p>	
		 			<p> <%=image_tag("sosjunglekids_email.jpg",size:"50x60", alt: "SOS Jungle Kids, India")%>:  &nbsp;info@junglekids.be
                        <%=image_tag("sosjunglekids_phone.jpg",size:"50x60", alt: "SOS Jungle Kids, India")%>:  &nbsp;+91 896 608 7737
                    </p>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->

</footer>

    <script>
// Portfolio
(function($) {
	"use strict";
	var $container = $('.portfolio'),
		$items = $container.find('.portfolio-item'),
		portfolioLayout = 'fitRows';
		
		if( $container.hasClass('portfolio-centered') ) {
			portfolioLayout = 'masonry';
		}
				
		$container.isotope({
			filter: '*',
			animationEngine: 'best-available',
			layoutMode: portfolioLayout,
			animationOptions: {
			duration: 750,
			easing: 'linear',
			queue: false
		},
		masonry: {
		}
		}, refreshWaypoints());
		
		function refreshWaypoints() {
			setTimeout(function() {
			}, 1000);   
		}
				
		$('nav.portfolio-filter ul a').on('click', function() {
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector }, refreshWaypoints());
				$('nav.portfolio-filter ul a').removeClass('active');
				$(this).addClass('active');
				return false;
		});
		
		function getColumnNumber() { 
			var winWidth = $(window).width(), 
			columnNumber = 1;
		
			if (winWidth > 1200) {
				columnNumber = 5;
			} else if (winWidth > 950) {
				columnNumber = 4;
			} else if (winWidth > 600) {
				columnNumber = 3;
			} else if (winWidth > 400) {
				columnNumber = 2;
			} else if (winWidth > 250) {
				columnNumber = 1;
			}
				return columnNumber;
			}       
			
			function setColumns() {
				var winWidth = $(window).width(), 
				columnNumber = getColumnNumber(), 
				itemWidth = Math.floor(winWidth / columnNumber);
				
				$container.find('.portfolio-item').each(function() { 
					$(this).css( { 
					width : itemWidth + 'px' 
				});
			});
		}
		
		function setPortfolio() { 
			setColumns();
			$container.isotope('reLayout');
		}
			
		$container.imagesLoaded(function () { 
			setPortfolio();
		});
		
		$(window).on('resize', function () { 
		setPortfolio();          
	});
})(jQuery);
</script>
