<footer class="center footer">

	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container ">
		 	<div class="row centered">

		 		<div class="col-lg-4">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="https://www.facebook.com/sosjunglekids"><%=image_tag("sosjunglekids_facebook.jpg",size:"50x60", alt: "SOS Jungle Kids, India")%></a>
		 				
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Copyrights &copy;</h4>
		 			<div class="hline-w"></div>
		 			<p>Copyright &copy; SOSJungleKids 2015</p>
		 			  <p> Website created and maintained by Sabla Kerketta <br> 'email: smkerketta@gmail.com'
                      </p>	
		 		</div>

		 		<div class="col-lg-4">
		 			<h4>Our Location</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Dhanwar, Jharkhand<br/>
		 				India<br/>
		 			</p>	
		 			<p> <%=image_tag("sosjunglekids_email.jpg",size:"50x60", alt: "SOS Jungle Kids, India")%>:  &nbsp;info@junglekids.be
                        <%=image_tag("sosjunglekids_phone.jpg",size:"50x60", alt: "SOS Jungle Kids, India")%>:  &nbsp;+91 896 608 7737
                    </p>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->

</footer>

 
