<header>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
      <div class="navbartop-custom">  
       <br>
      </div>

      <div class="container">
        <div class="pull-left">
          <%=image_tag("sosjunglekids.png",size:"150x80", alt: "SOS Jungle Kids, India")%>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav navbartop-custom">
            <li class="active"><%= link_to "HOME",     home_path   %></li>
            <li><%= link_to "ABOUT US", about_path  %></li>
            <li><%= link_to "CONTACT US", contact_path %></li>
           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    
     <div class="navbarbottom-custom">  
      <br>
    </div>

    </div>
</header>
    <br><br>



